<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PawsInUs.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F8B3254E847BE5EE97E8F2C651AC23CF6BE5E894</string>
				<key>dateExpires</key>
				<string>7/27/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9DWYL25EC4.com.ricajincom.pawsinus</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>9DWYL25EC4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>PawsInUs.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6709d489-cd86-4c90-937d-068b0a91e1b3</string>
				<key>dateExpires</key>
				<string>7/27/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.ricajincom.pawsinus</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9DWYL25EC4</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>3.0</string>
		</dict>
	</array>
</dict>
</plist>
